<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div>
  <%= t('.you_answered_percent_correct') %>:

  <% if @test_passage.success? %>
  <span class="test_passages success" > <%= @test_passage.percent_correct.to_i %></span>
  <%= t('.you_passed_the_test') %>
  <% else %>
  <span class="test_passages fail" > <%= @test_passage.percent_correct.to_i %></span>
  <%= t('.you_didnot_pass_the_test') %>
  <% end %>
</div>
<br>

<%= link_to t('shared.all_tests'), tests_path %>
