<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th><%= t('.questions') %></th>
  </tr>
  <%= render @test.questions %>
</table>
<br>

<%= link_to t('shared.edit'), edit_admin_test_path(@test) %>
<%= link_to t('shared.back'), admin_tests_path %>
