<div class="card text-center">
  <div class="card-body">
    <%= current_year %> <%= link_to t('.author'), github_url('https://www.github.com/pavels3579/','ror'), target: "_blank" %> - <%= t('.about_author') %><br>
    <%= t('.about_project') %> <%= link_to 'Thinknetica', 'http://www.thinknetica.com', target: "_blank" %>
  </div>
</div>
